#connection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#connection h1, #connection h2 {
    color: var(--secondary-color);
}