#header {
    background-color: var(--background-light-color);
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#header-left-items {
    display: flex;
    align-items: center;
}

#header h1 {
    margin: 0px;
    color: var(--secondary-color);
}