#join {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#join h1, #join h2 {
    color: var(--secondary-color);
}

#join label {
    color: white;
    display: block;
}

#join input {
    border: none;
    padding: 10px;
    width: 250px;
    max-width: 95%;
}

#join input:focus {
    outline: none;
}

.join-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#join input::-webkit-outer-spin-button,
#join input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#join input[type=number] {
  -moz-appearance: textfield;
}

#about-modal p {
    margin-bottom: 0px;
}

#about-button {
    color: var(--secondary-color);
    background-color: transparent;
    text-decoration: underline;
    border: none;
}