#room {
    height: 100%;
    display: flex;
}

#room-content {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
}

#client-container {
    width: clamp(300px, 30%, 500px);
    border-right: 1px solid var(--secondary-color);
}

#client-stream-container {
    position: relative;
}

#client-stream-container video {
    width: 100%;
    display: block;
}

#client-stream-buttons {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    gap: 10px;
}

#peers-controls-container {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

#stats-container {
    color: white;
    padding-inline: 10px;
    display: flex;
    justify-content: space-between;
}

#stats-container div {
    display: flex;
    align-items: center;
    gap: 10px;
}
#stats-container .icon {
    color: var(--secondary-color);
    width: 20px;
}

.pc-peer {
    background-color: var(--background-light-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pc-peer-name {
    color: var(--secondary-color);
    margin: 0px;
}

.pc-peer .bitrate {
    color: white;
}

.pc-peer-btn-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.pc-peer-start-btn, .pc-peer-stop-btn {
    color: white;
    background-color: transparent;
    border: none;
}

#share-link {
    color: var(--secondary-color);
    text-align: center;
    display: block;
    margin-top: 20px;
}

#peers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    gap: 20px;
}

.peer {
    position: relative;
    width: 200px;
    min-height: 100px;
    background-color: var(--background-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.peer-info {
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
    color: var(--secondary-color);
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.peer-name {
    margin: 0px;
}

.peer-stream {
    width: 100%;
    display: block;
}

.peer-no-stream {
    color: white;
}

.bitrate {
    margin: 0px;
}