#room {
    height: 100%;
    display: flex;
}

#room-content {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    #room {
        flex-wrap: wrap;
    }

    #client-container {
        width: 100%;
        border-bottom: 1px solid var(--secondary-color);
    }
}
@media screen and (min-width: 801px) {
    #client-container {
        width: clamp(300px, 30%, 500px);
        border-right: 1px solid var(--secondary-color);
    }
}

#client-container {
    display: flex;
    flex-direction: column;
}

#client-stream-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    max-height: 250px;
}

#client-stream {
    width: 100%;
    object-fit: contain;
    display: block;
}

#no-client-stream {
    color: var(--secondary-color);
}

#client-stream-buttons {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    gap: 10px;
}

#peers-controls-container {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

#stats-container {
    color: white;
    padding-inline: 10px;
    display: flex;
    justify-content: space-between;
}

#stats-container div {
    display: flex;
    align-items: center;
    gap: 10px;
}
#stats-container .icon {
    color: var(--secondary-color);
    width: 20px;
}

.pc-peer {
    background-color: var(--background-light-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pc-peer-name {
    color: var(--secondary-color);
    margin: 0px;
}

.pc-peer .bitrate {
    color: white;
}

.pc-peer-btn-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.pc-peer-start-btn, .pc-peer-stop-btn {
    color: white;
    background-color: transparent;
    border: none;
}

#share-link {
    color: var(--secondary-color);
    text-align: center;
    display: block;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

#peers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    gap: 20px;
    flex-wrap: wrap;
}

.peer {
    position: relative;
    width: 300px;
    min-height: 100px;
    background-color: var(--background-light-color);
}

.peer.theather {
    position: fixed;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 95%;
    height: 95%;
    object-fit: contain;
}

.peer-info {
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
    color: var(--secondary-color);
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.peer-name {
    margin: 0px;
}

.peer-stream {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.peer.theather .peer-stream {
    height: 100%;
}

.peer:not(.theather):not(:fullscreen) .peer-stream {
    max-height: 200px;
}

.peer:fullscreen .peer-stream {
    height: 100%;
}

.peer-no-stream {
    color: white;
}

.fullscreen-button-container {
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    gap: 10px;
}

.peer-volume {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    width: 100%;
    max-width: 200px;
}

.peer-volume svg {
    color: var(--secondary-color);
    width: 1.5rem;
}

.peer-volume input {
    color: var(--secondary-color);
    width: 100%;
}

.bitrate {
    margin: 0px;
}