:root {
    --background-color: rgb(17, 12, 24);
    --background-light-color: rgb(80, 71, 92);
    --primary-color: #2d0080;
    --secondary-color: #ffee00;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

.btn {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(34, 34, 34);
}

button:not(:disabled):hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.split {
    border-color: var(--secondary-color);
    margin: 0px;
}

.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.125em;
    color: var(--primary-color);
}